<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo CRUD App</title>

</head>
<body>
<h1>Add new todo</h1>

<form th:action="@{/todo/add}" th:object="${todoObj}" th:method="post">
    <label>Title: </label>
    <input th:field="*{title}"><br>
    <label>Content: </label>
    <input th:field="*{content}"><br>
    <label>Description: </label>
    <input th:field="*{description}"><br>
    <label>Choose assignee: </label>
    <select name="Assignee">
        <option th:each="assignee : ${assigneesList}" th:text="${assignee.name}" th:value="${assignee.id}"></option>
    </select><br>
    <label>DueDate: </label>
    <input type="date" required pattern="\d{4}-\d{2}-\d{2}" th:field="*{dueDate}"><br>

    <input th:type="submit" th:value="Submit">

</form>
</body>
</html>