<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Todo CRUD App</title>
</head>
<body>
<h1>Edit Todo</h1>

<form th:action="@{/todo/{id}/edit (id = ${todoEdit.id})}" th:method="post" th:object="${todoEdit}">
    <label>Title: </label>
    <input th:field="*{title}"><br>
    <label>Content: </label>
    <input th:field="*{content}"><br>
    <label>Description: </label>
    <input th:field="*{description}"><br>
    <label>Choose assignee: </label>
    <select name="assignee">
        <option th:each="assignee2 : ${assignees}" th:text="${assignee2.name}" th:value="${assignee2.id}" ></option>
    </select><br>
    <label>DueDate: </label>
    <input type="date" required pattern="\d{4}-\d{2}-\d{2}" th:field="*{dueDate}"><br>

    <label>Urgent:</label>
    <input type="checkbox" th:field="*{urgent}"><br>

    <label>Done:</label>
    <input type="checkbox" th:field="*{done}"><br>

    <input th:type="submit" th:value="Submit">

    <a th:href="@{/todo}">Cancel</a>


</form>

</body>
</html>